*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
  position: relative;  
  height: 20px;
}

.header-child{
  display:inline-block;
  position: absolute;
  
 }
 #cn{
    margin-left: 50%;
    color:green;
 }
 #page-name p{
   text-align: center;
   font-size: 10px;
 }
 #content{
    width: 100%;
    margin-top: 10px;
 }
 .content-child{
    display: inline-block;
    width: 350px;
    height: 300px;
    background: green;
     text-align:center ;
     padding: 10px;
 }
 #form{
    margin-left: 20px;
 }